.atom {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 90px;
  height: 90px;
}

.orbit {
  position: absolute;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: .6rem solid  #153A91;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orbit:nth-child(1) {
  transform: rotateX(70deg);
  animation: spin1 1s linear infinite, colorize 1.2s linear infinite;
}

.orbit:nth-child(2) {
  transform: rotateY(70deg) rotateX(30deg);
  animation: spin2 1.2s linear infinite, colorize 1.2s .4s linear infinite;
}

.orbit:nth-child(3) {
  transform: rotateY(70deg) rotateX(-30deg);
  animation: spin3 .8s linear reverse infinite, colorize 1.2s .8s linear infinite;
}

/* particles */
.orbit::before,
.orbit::after {
  content: '';
  position: absolute;
  height: .5rem;
  width: .5rem;
  border-radius: 50%;
}

/* electrons */
.orbit:before {
  background-color: deepskyblue;
  margin: -2rem;
}

/* nucleus */
.orbit:after {
  background-color: blue;
  height: 1rem;
}

.btn {
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-family: monospace;
}

/* animations */
@keyframes spin1 {
  0% {
    transform: rotateX(70deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(70deg) rotateZ(180deg);
  }
  100% {
    transform: rotateX(70deg) rotateZ(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotateY(70deg) rotateX(30deg) rotateZ(0deg);
  }
  50% {
    transform: rotateY(70deg) rotateX(30deg) rotateZ(180deg);
  }
  100% {
    transform: rotateY(70deg) rotateX(30deg) rotateZ(360deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotateY(70deg) rotateX(-30deg) rotateZ(0deg);
  }
  50% {
    transform: rotateY(70deg) rotateX(-30deg) rotateZ(180deg);
  }
  100% {
    transform: rotateY(70deg) rotateX(-30deg) rotateZ(360deg);
  }
}

@keyframes colorize {
  50% {
    border-color: #151a3d;
  }
}

@media (max-width: 414px) {
  .atom {
    left: 44%;
  }
}



