.grid {
	margin: 0 auto;
	padding-left: 0;
	list-style: none;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figure div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 250px;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2d1b84;
	color: #fff;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fa983a;
}

.grid figcaption span {
	display: block;
	letter-spacing: 1px;
	text-align: left;
}


/* Individual Caption Styles */


/* Caption Style 4 */


@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 0px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}

/* Caption Style 7 */


