.trophies {
  padding: 90px 0;
  padding-bottom: 67px;
  background-color: #0c2461;
}

.trophies__title {
  display: block;
  width: 200px;
  position: relative;
  color: white;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
  transition: 0.3s;
  &:hover {
    text-shadow: 2px 1px 11px #9696ff;
  }
}

.trophies__title::before {
  position: absolute;
  content: "";
  background: url("../img/trophy.svg") no-repeat;
  top: -5px;
  left: -35px;
  width: 60px;
  height: 50px;
  transition: 2s;
}
.trophies__title:hover::before {
  -webkit-animation: swing 1s ease;
  animation: swing 2s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.grid .trophies__item {
  display: inline-block;
  background: #0c2461;
  height: auto;
  width: 300px;
  margin: 0;
  position: relative;
  margin-bottom: 35px;
  transition: 0.3s;
  &:hover {
    border: 1px solid #8C9EFF;
  }
}

.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
}

.grid .trophies__figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #2d1b84;
  color: white;
}


.cs-style-7 .trophies__item:first-child { z-index: 6; }
.cs-style-7 .trophies__item:nth-child(2) { z-index: 5; }
.cs-style-7 .trophies__item:nth-child(3) { z-index: 4; }
.cs-style-7 .trophies__item:nth-child(4) { z-index: 3; }
.cs-style-7 .trophies__item:nth-child(5) { z-index: 2; }
.cs-style-7 .trophies__item:nth-child(6) { z-index: 1; }

.cs-style-7 .trophies__figure .trophies__img {
  z-index: 10;
}

.cs-style-7 .trophies__figcaption {
  height: 100%;
  width: 101%;
  left: -1px;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
  -moz-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
  transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 0 0px #2d1b84;
}

.no-touch .cs-style-7 .trophies__figure:hover .trophies__figcaption,
.cs-style-7 .trophies__figure.cs-hover .trophies__figcaption {
  opacity: 1;
  height: 118%;
  border-bottom: 1px solid #8C9EFF;
  border-left: 1px solid #8C9EFF;
  border-right: 1px solid #8C9EFF;
}

.cs-style-7 .trophies__figcaption h3 {
  position: absolute;
  bottom: 30px;
}

.cs-style-7 .trophies__figcaption span {
  position: absolute;
  bottom: 10px;
}

.cs-style-7 .trophies__figcaption h3,
.cs-style-7 .trophies__figcaption span,
.cs-style-7 .trophies__figcaption a {
  opacity: 0;
  -webkit-transition: opacity 0s;
  -moz-transition: opacity 0s;
  transition: opacity 0s;
}

.cs-style-7 .trophies__figcaption a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.no-touch .cs-style-7 .trophies__figure:hover .trophies__figcaption h3,
.no-touch .cs-style-7 .trophies__figure:hover .trophies__figcaption span,
.no-touch .cs-style-7 .trophies__figure:hover .trophies__figcaption a,
.cs-style-7 .trophies__figure.cs-hover .trophies__figcaption h3,
.cs-style-7 .trophies__figure.cs-hover .trophies__figcaption span,
.cs-style-7 .trophies__figure.cs-hover .trophies__figcaption a {
  -webkit-transition: opacity 0.3s 0.2s;
  -moz-transition: opacity 0.3s 0.2s;
  transition: opacity 0.3s 0.2s;
  opacity: 1;
}

@keyframes swing
{
  15%
  {
    transform: rotate(60deg);
  }
  30%
  {
    transform: rotate(-60deg);
  }
  50%
  {
    transform: rotate(30deg);
  }
  65% {
    transform: rotate(-30deg);
  }
  80% {
     transform: rotate(5deg);
   }
  90% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}