.welcome {
  background: url("/img/2.jpg");
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:100% 0;
  position:relative;
  height: 100vh;
  margin-top: -78px;
}

.welcome .container {
  padding-top: 150px;
  padding-left: 60px;
}

.welcome__title {
  font-size: 80px;
  line-height: 60px;
  color: #ffffff;
  text-align: left;
}

.welcome__flip {
  display: block;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.7s ease;
  width: 307px;
  &:hover {
    color: black;
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
  }
}

.welcome__flip::after {
  position: absolute;
  content: 'Welcome';
  top: -100px;
  left: 0;
  width: 100%;
  background: white;
  transform-origin: left bottom;
  transform: rotateX(90deg);
}

.welcome__text {
  font-size: 50px;
  line-height: 45px;
  color: #ffffff;
  text-align: left;
}

.welcome__text-decor {
  position: relative;
  animation: neon 4s ease infinite;
}

@keyframes neon {
  0%{

  }
  50% {
    text-shadow:0px 0px 10px #fff,
    0px 0px 10px #0D47A1,
    0px 0px 25px #0D47A1,
    0px 0px 25px #0D47A1,
    0px 0px 25px #1A237E,
    0px 0px 25px #1A237E,
    0px 0px 50px #1A237E,
    0px -10px 100px #1A237E,
    0px -10px 100px #1A237E;
  }

  100% {
    text-shadow:0px 0px 10px rgba(255, 255, 255, 0);
  }
}

@media (max-width: 400px) {
  .welcome .container {
    padding-top: 150px;
    padding-left: 15px;
  }

  .welcome__title {
    font-size: 60px;
  }

  .welcome__text {
    font-size: 35px;
    line-height: 45px;
    color: #ffffff;
    text-align: left;
  }

  .welcome__flip {
    margin: 0;
    width: 233px;
  }
}
@media (max-width: 991px) {
  .welcome {
    background: url("/img/2-low-min.jpg");
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: 7% 0;
    position:relative;
    height: 100vh;
    margin-top: -78px;
  }
}